.solutions {
    display: none;
    background-color: #2F303A;
    background-image:
    linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(/goit-markup-hw-04/images/Agencja/main-index-background.jpg.jpg);

    &_text {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        color: $negative-color;
        letter-spacing: 0.06em;
        max-width: 696px;
        margin: 0 auto;
        padding-top: 106px;
        padding-bottom: 30px;
        text-align: center;
    }
}
.service {
    text-align: center;

    &_button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        border: none;
        background-color: $brand-color;
        color: $negative-color;
        border-radius: 4px;
        letter-spacing: 0.06em;
        padding: 10px 41px;
        margin-bottom: 106px;

        &:hover,
        &:focus {
            cursor: pointer;
            scale: 1.05;
        }
    }
}