.what-do-we-do {
    padding-bottom: 94px;
}
.activities {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 0px;
    margin: 0 auto;
    width: 1170px;
    max-height: 294px;

    &_overlay {
        font-weight: 700;
        line-height: 1.14;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        margin: 0;
        padding-top: 27px;
        padding-bottom: 27px;
        letter-spacing: 0.03em;
        background-color: rgba(47, 48, 58, 0.8);
        width: 370px;
        position: relative;
        bottom: 70px;
        z-index: 1;
    }
}